.main-container {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.top-container {
  display: grid;
  grid-template-columns: 8fr 8fr;
  justify-items: center;
  margin-top: 0px;
  font-size: 2em;
}

.my-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3a3a3a;
  color: white;
  font-size: 24px;
  transition: all 0.5s;
  cursor: pointer;
}

.social-media {
  position: absolute;
  top: 250px;
  left: 550px;
}

.social-logo + .social-logo {
  margin-left: 20px;
}

.social-logo {
  width: 60px;
  transition: transform .2s;
  border: 0;
}

/* .social-logo:hover {
} */
#twitter:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #00acee,
  0px 0 10px #00acee,  
  0px 0 10px #00acee;     
}

#facebook:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #3b5998,
  0px 0 10px #3b5998,  
  0px 0 10px #3b5998;
}

#reddit:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #ff4500,
  0px 0 10px #ff4500,  
  0px 0 10px #ff4500;         
}

#telegram:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #0088CC,
  0px 0 10px #0088CC,  
  0px 0 10px #0088CC;
}

#discord:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #7289da,
  0px 0 10px #7289da,  
  0px 0 10px #7289da;
}
