.main-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 18rem;
}

.top-container {
  display: grid;
  grid-template-columns: 8fr 8fr;
  justify-items: center;
  margin-top: 1em;
  font-size: 2em;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-logo {
  width: 60px;
  transition: transform .2s;
  border: 0;
}

/* .social-logo:hover {
} */
#twitter:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #00acee,
  0px 0 10px #00acee,  
  0px 0 10px #00acee;     
}

#facebook:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #3b5998,
  0px 0 10px #3b5998,  
  0px 0 10px #3b5998;
}

#reddit:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #ff4500,
  0px 0 10px #ff4500,  
  0px 0 10px #ff4500;         
}

#telegram:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #0088CC,
  0px 0 10px #0088CC,  
  0px 0 10px #0088CC;
}

#discord:hover {
  transform: scale(1.2);
  border-radius: 50%;
  box-shadow:
  0 0 10px #7289da,
  0px 0 10px #7289da,  
  0px 0 10px #7289da;
}
